POSTGRES_PASSWORD=hunter2
MINIO_ACCESS_KEY=minioaccess
MINIO_SECRET_KEY=miniosecret
MINIO_BUCKET_NAME=testbucket
MINIO_PORT=9002
PG_CONNECTION_STRING="postgresql://postgres:hunter2@localhost:5434/postgres"
USER_TOKEN_SECRET="Pencil7barrel+Anti3petite!Swarm2"
UPLOAD_TOKEN_SECRET="Bach_vote+crash"
